<div class="row plan">
	<div class="col-md-12">
		<h3>{{plan?.category}}</h3>
		<div class="preview col-md-6">
			<div class="preview-pic tab-content img-center">
				<div class="tab-pane active" id="pic-1">
					<img id="img-big" src="assets/IMG/imgplan1.jpg" />
				</div>
			</div>
		</div>
		<div class="col-md-6 plan-desc">
			<div class="col-md-12 nombre-plan">
				<h3>{{plan?.title}}</h3>
			</div>


			<div class="provincia-plan">
				<p>Provincia: {{plan?.place}} </p>
				<div class="direccion-plan">
					<p>Dirección: {{plan?.address}}</p>
				</div>
			</div>
			<div class="fecha-plan">
				<p>Fecha: {{plan?.date}}</p>
			</div>
			<div class="descripcion-plan">
				<p>Descripción: {{plan?.description}}</p>
			</div>
			<div>
				<p>
					Subido por: <a [routerLink] class="creador-plan">{{plan?.author.id}}</a>
				</p>
			</div>
			<div class="precio-plan">
				<p>Precio: {{plan?.prize}}€</p>
			</div>
			<div class="asistentes-plan">
				Asistirán: {{plan?.asistents.length}} usuarios
			</div>
										<div *ngIf="loginService.isUserLogged()" class="container-fluid">
					<button (click)="assistPlan(plan)"type="submit" class="btn btn-default btn-asiste btn-info">Voy a asistir!</button>
				</div>
			<article>

				<div class="asisten center-block" >
<div class="text">
	<div *ngFor="let asistent of plan?.asistents">
	<a>
		<div class="col-md-12 col-sm-12 col-xs-12 lista-asisten">
			<div class="col-md-4 asistenteImg">
				<img class="img-responsive img-circle imgMinima" src="assets/IMG/FrikiCivil.jpg" id="circulo">
			</div>
			<div class="col-md-8  list-info asistente">
				<span class="creador-plan ">{{asistent?.id}}</span>
				<p class="text-muted">{{asistent?.province}}</p>
			</div>
		</div>
	</a>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
<!-- /plan-->