<div class="row plan">
	<div *ngIf="plan !== undefined " class="col-md-12">
		<h3>{{plan.category}}
		</h3>
		<div class="preview col-md-6">
			<div class="preview-pic tab-content img-center">
				<div class="tab-pane active" id="pic-1">
					<img id="img-big" src="assets/IMG/{{plan.imagePlanTitle}}" />
				</div>
			</div>
		</div>
		<div class="col-md-6 plan-desc">
			<div *ngIf = "loginService.isUserLogged() && planService.isAuthor(plan, loginService.getUserLogged().id)" class="container-fluid">
				<button [routerLink]="['/modifyPlan', plan.id]" type="submit" class="btn btn-default btn-asiste btn-info">Modificar plan!</button>
			</div>
			<div class="col-md-12 nombre-plan">
				<h3>{{plan.title}}</h3>
			</div>


			<div class="provincia-plan">
				<p>Provincia: {{plan.place}} </p>
				<div class="direccion-plan">
					<p>Dirección: {{plan.address}}</p>
				</div>
			</div>
			<div class="fecha-plan">
				<p>Fecha: {{plan.date}}</p>
			</div>
			<div class="descripcion-plan">
				<p>Descripción: {{plan.description}}</p>
			</div>
			<div>
				<p>
					Subido por: <a [routerLink] class="creador-plan">{{plan.author.id}}</a>
				</p>
			</div>
			<div class="precio-plan">
				<p>Precio: {{plan.prize}}€</p>
			</div>
			<div class="asistentes-plan">
				Asistirá/n: <span id="assistentsPlan">{{plan.asistents.length}} </span>usuario/s
			</div>
			<div *ngIf="loginService.isUserLogged() && !planService.isAsistent(plan,loginService.getUserLogged())" class="container-fluid">
				<button (click)="assistPlan(plan)" type="submit" class="btn btn-default btn-asiste btn-info">Voy a asistir!</button>
			</div>
			<div *ngIf="loginService.isUserLogged() && planService.isAsistent(plan,loginService.getUserLogged())" class="container-fluid">
				<p id="nowAssist">¡Ya asistes a este plan!</p>
			</div>
			<article>

				<div class="asisten center-block">
					<div class="text">
						<div *ngFor="let asistent of plan?.asistents">
							<a [routerLink]="['/profile', asistent.id]">
								<div class="col-md-12 col-sm-12 col-xs-12 lista-asisten">
									<div class="col-md-4 asistenteImg">
										<img class="img-responsive img-circle imgMinima" src="assets/IMG/FrikiCivil.jpg" id="circulo">
									</div>
									<div class="col-md-8  list-info asistente">
										<span class="creador-plan ">{{asistent?.id}}</span>
										<p class="text-muted">{{asistent?.province}}</p>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<!-- /plan-->
	<div class="row center-block">
				<div *ngFor="let comments of plan?.comments">
						<section class="comments">
							<div id="comments">
								<article class="comment">
									<div class="comment-body">
										<div class="text">
											<p>{{comments.content}}</p>
										</div>
									</div>
									<p class="attribution">
									fecha del comentario:{{comments.date}}
									</p>	
								</article>
							</div>
						</section>
				</div>
			</div>
			<div *ngIf="loginService.isUserLogged()" class="container-fluid center-block">
			<!--Comentar-->
				<div class="row add-comment">
                    <form role="form" method="post">
                        <div class="form-groupC">
                            <label for="comentario" name="comment">	Escribe tu comentario</label>
                            <textarea id="comentario" #comment class="form-control" rows="1" name="cont"></textarea>
                            <button (click)="newComments(comment.value)" type="submit" id="btnComment" class="btn btn-info" >Comentar</button>
                        </div>
                    </form>
                </div>
			</div>
			<!--Comentar-->