<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h1 class="page-header center-block" id="quees">¿Qué es WePlanning?</h1>
            <p class="textAU">WePlanning es una plataforma web en la que los usuarios pueden proponer planes a otros usuarios para disfrutarlos
                juntos o simplemente publicar planes que han realizado en algún momento de su vida para que otros usuarios
                tomen ideas.
                <br> Esta plataforma web se diseñó por cuatro alumnos de la Universidad Rey Juan Carlos como práctica de
                la asignatura "Desarrollo de Aplicaciones Web" del grado de Ingeniería del Software.
                <br> </p>
            <hr class="lineaAboutUs" />
            <p class="textAU">Los alumnos encargados de la plataforma web son:
                <br> </p>
            <ul class="nombresAlumnos">
                <li>Rubén Golderos Serrano </li>
                <li>Guillermo Navas García </li>
                <li>Jorge Sánchez Márquez</li>
                <li>Alex Gómez Uceda</li>
            </ul>
            <hr class="lineaAboutUs" />
            <p class="textAU">Si desea contactar con nosotros puede hacerlo pulsando <a id="pulsaAqui" [routerLink]="['/contact']"> AQUÍ.</a></p>
        </div>
        <div class="col-lg-6 col-md-6">
            <img class="img-responsive logoUrjc" src="https://www.urjc.es/images/rcc_harvard_urjc/logo.png">
        </div>
    </div>
</div>