<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="utf-8">
</head>
										{{#assistentsPlan}}
											<a href="/user/{{id}}">
												<div class="col-md-12 col-sm-12 col-xs-12 lista-asisten">
													<div class="col-md-4 asistenteImg">
														<img class="img-responsive img-circle imgMinima"
															src="/image/{{profilePhotoTitle}}" id="circulo">
													</div>
													<div class="col-md-8  list-info asistente">
														<span class="creador-plan ">{{id}}</span>
														<p class="text-muted">{{province}}</p>
													</div>
												</div>
											</a>
											{{/assistentsPlan}} 
				</html>