#mainc{
    width: 100px;
    margin-left: 300px;
}
h1.titlenw { 
	font-size: 50px;
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}
.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}


#txt{
    width: 100%;
}
/*poner datos*/