
#redesSociales a{
    color:black;
}
#redesSociales  a:hover{
    color:darkgray;
    text-decoration: none;
} 
#redesSociales  a:active{
    text-decoration: none;
}
#redesSociales  a:focus{
    text-decoration: none;
    color:black;
}
#redesSociales  a:link{
    color:darkgray;
    text-decoration: none;
}
#links a{
    color:black;
}
#links  a:hover{
    color:darkgray;
    text-decoration: none;
} 
#links  a:active{
    text-decoration: none;
}
#links  a:focus{
    text-decoration: none;
    color:black;
}
#links  a:link{
    color:darkgray;
    text-decoration: none;
}
#links{
    font-size:1.3em;
    font-weight: 600;
}
#copyright{
    margin-left:5px;
}
#lineaCopyright{
    color:black;
    border-top: 2px solid black;
    width:20%;
}