body{
    background:url("../IMG/background.png");
    padding-top: 20px;  
}
h1.title { 
	font-size: 50px;
	font-weight: 400; 
    font-style:italic;
}

hr{
	width: 10%;
	color: #fff;
}

.formgc{
	margin-bottom: 40px;
}
.formgs{
	margin-left: 0px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 15px;
    padding-top: 3px;
}
.maincon{
    margin-top: 78px;
    margin-bottom: 16%;
    
}
.mainl{
 	background-color: rgba(163, 163, 163, 0.35);
    /* shadows and rounded borders */
    border-radius: 25px;
    box-shadow: 10px 6px 6px rgba(0, 0, 0, 0.3);
}

.mainc{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 690px;
    padding: 20px 20px;

}

