<div class="panel-heading">
    <div class="panel-title text-center">
        <h1 class="page-header">Regístrate</h1>
        <hr class="lineaNegra" /> </div>
</div>
<div class="main-login main-center center-block">
    <form class="form-horizontal" method="post" action="#">
        <div class="form-group">
            <div class="cols-sm-10">
                <div class="input-group">
                    <label for="empresa" class="cols-sm-2 control-label">
                                            <input  [(ngModel)]="sponsor" type="checkbox" name="sponsor" id="empresa" value=""> ¿Eres una empresa?</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Nombre
										</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i
												class="fa fa-user fa-fw" aria-hidden="true"></i></span> <input #uname name="name" type="text" class="form-control"
                        id="name" placeholder="Introduzca su nombre completo" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">
										Apellidos</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i
												class="fa fa-user fa-fw" aria-hidden="true"></i></span> <input #surname name="surname" type="text"
                        class="form-control" id="name" placeholder="Introduzca su nombre completo" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="cols-sm-2 control-label">Edad</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i
												class="fa fa-user fa-fw" aria-hidden="true"></i></span> <input #age name="age" min="0" step="1"
                        type="number" class="form-control" id="age" placeholder="Introduzca su edad" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label  name="province" for="provincia" class="cols-sm-2 control-label">Provincia</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i
												class="fa fa-map-marker fa-fw" aria-hidden="true"></i></span> <select #province id="busquedaprovincia"
                        name="province" required>
												<option value='Álava'>Álava</option>
												<option value='Albacete'>Albacete</option>
												<option value='Alicante'>Alicante/Alacant</option>
												<option value='Almería'>Almería</option>
												<option value='Asturias'>Asturias</option>
												<option value='Avila'>Ávila</option>
												<option value='Badajoz'>Badajoz</option>
												<option value='Barcelona'>Barcelona</option>
												<option value='Burgos'>Burgos</option>
												<option value='Cáceres'>Cáceres</option>
												<option value='Cádiz'>Cádiz</option>
												<option value='Cantabria'>Cantabria</option>
												<option value='Castellón'>Castellón/Castelló</option>
												<option value='Ceuta'>Ceuta</option>
												<option value='Ciudad Real'>Ciudad Real</option>
												<option value='Córdoba'>Córdoba</option>
												<option value='Cuenca'>Cuenca</option>
												<option value='Girona'>Girona</option>
												<option value='Las Palmas'>Las Palmas</option>
												<option value='Granada'>Granada</option>
												<option value='Guadalajara'>Guadalajara</option>
												<option value='Guipúzcoa'>Guipúzcoa</option>
												<option value='Huelva'>Huelva</option>
												<option value='Huesca'>Huesca</option>
												<option value='Illes Balears'>Illes Balears</option>
												<option value='Jaen'>Jaén</option>
												<option value='Acoruña'>A Coruña</option>
												<option value='La Rioja'>La Rioja</option>
												<option value='Leon'>León</option>
												<option value='Lleida'>Lleida</option>
												<option value='Lugo'>Lugo</option>
												<option value='Madrid'>Madrid</option>
												<option value='Malaga'>Málaga</option>
												<option value='Melilla'>Melilla</option>
												<option value='Murcia'>Murcia</option>
												<option value='Navarra'>Navarra</option>
												<option value='Ourense'>Ourense</option>
												<option value='Palencia'>Palencia</option>
												<option value='Pontevedra'>Pontevedra</option>
												<option value='Salamanca'>Salamanca</option>
												<option value='Segovia'>Segovia</option>
												<option value='Sevilla'>Sevilla</option>
												<option value='Soria'>Soria</option>
												<option value='Tarragona'>Tarragona</option>
												<option value='Santa Cruz de Tenerife'>Santa Cruz de
													Tenerife</option>
												<option value='teruel'>Teruel</option>
												<option value='toledo'>Toledo</option>
												<option value='valencia'>Valencia/Valéncia</option>
												<option value='valladolid'>Valladolid</option>
												<option value='vizcaya'>Vizcaya</option>
												<option value='zamora'>Zamora</option>
												<option value='zaragoza'>Zaragoza</option>
											</select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email1" class="cols-sm-2 control-label">Email</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i
												class="fa fa-envelope fa-fw" aria-hidden="true"></i></span> <input #uemail name="email" value=""
                        type="text" class="form-control" id="email1" placeholder="Introduzca su email" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">Nombre
										de usuario</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i
												class="fa fa-users fa-fw" aria-hidden="true"></i></span> <input #id name="username" value=""
                        type="text" class="form-control" name="username" id="username" placeholder="Introduzca su nombre de usuario"
                        required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password1" class="cols-sm-2 control-label">Contraseña</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i
												class="fa fa-lock fa-fw" aria-hidden="true"></i></span> <input #passwordHash name="pass" value="" type="password"
                        class="form-control" name="password" id="password1" placeholder="Contraseña" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm" class="cols-sm-2 control-label">Confirma
										la contraseña</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i
												class="fa fa-lock fa-fw" aria-hidden="true"></i></span> <input name="passwordConfirm" value=""
                        type="password" class="form-control" name="confirm" id="confirm" placeholder="Repita su contraseña" required>
                </div>
            </div>
        </div>
        <div class="form-group ">
            <button (click)="newUser(id.value, uname.value, surname.value, uemail.value, province.value, age.value, passwordHash.value)"type="button" class="btn btn-lg btn-block btn-info">Registrar</button>
        </div>
    </form>
</div>