<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="utf-8">
</head>
{{#planes}}
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 photography">
					<a href="/logged/plan/{{id}}" class="planning-box"> <img
						class=" img-responsive img-center"
						src="/image/{{imagePlanTitle}}" alt="">
						<div class="planning-box-caption">
							<div class="planning-box-caption-content">
								<div class="user-name text-faded">Detalles</div>
							</div>
						</div>
					</a>
					<p class="datosPlan">
						Título: {{title}} <br> Autor: <a href="/logged/user/{{author.id}}"
							class="creador-plan">{{author.id}}</a><br>
						Lugar: {{place}} <br> Fecha: {{date}}
					</p>
				</div>
				{{/planes}}
				</html>