<div class="container-fluid jumbo">
    <div class="jumbotron">
        <div class="jumbo-slogan">
            <h1>Encuentra el mejor plan cerca de ti!</h1>
            <p>Planea, Disfruta, Comenta, Comparte</p>
            <p>Únete a WePlanning</p>
        </div>
    </div>
</div>
<!-- /Jumbotron -->
<!-- row-ads -->
<div class="container-fluid">
    <div class="row center-block" id="row-ads">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="ads">
                <img id="ad1" class="image-responsive ads-img" src="assets/IMG/ad1.jpg">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="ads">
                <img id="ad2" class="image-responsive ads-img" src="assets/IMG/ad2.jpg">
            </div>
        </div>
    </div>
</div>