<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="utf-8">
</head>
{{#plans}}
										<div class="container-fluid ">
											<div class="container-fluid">
												<div class="row myplan-row">
													<div class="col-md-6 img-myplan  ">
														<img class="img-responsive" src="/image/{{imagePlanTitle}}">
													</div>
													<div class="col-md-6">
														<h3>
															<strong>{{title}}</strong>
														</h3>
														<hr />
														<p>En {{place}}</p>
														<button onclick="location.href = '/plan/{{id}}'"
															type="button" class="btn-info">Ver Plan</button>
													</div>
												</div>
											</div>
										</div>
									{{/plans}}
				</html>