<div *ngIf="userService.getUserS() != undefined" class="container center-block">
    <div class="preview col-md-6 col-sm-6">
        <div class="preview-pic tab-content img-center">
            <div class="tab-pane active" id="pic-1">
                <img *ngIf="!showPreview" id="img-big" src="https://localhost:8443/image/{{userService.getUserS().profilePhotoTitle}}" />
                <img *ngIf="showPreview && fileShow!=undefined" id="img-big" [src]='fileShow' alt="" />
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <form class="form-horizontal" method="post" action="/logged/{{id}}/profilePhoto" enctype="multipart/form-data">
        <div class="form-groupnw">
            <label for="ejemplo_archivo_1">Adjuntar su nueva imagen de perfil</label> <input (change)="changed($event)" type="file"
                id="ejemplo_archivo_1" name='file' required>
            <p class="help-block">Adjunte una fotografía para su perfil</p>

        </div>
        <div class="form-groupnw ">
            <button (click)="changeProfile(userService.getUserS().id)"type="submit" id ="submit-profile"class="btn btn-primary btn-lg btn-block login-button">Enviar</button>
        </div>
    </form>

</div>