<div  *ngIf = "userService.getUserS()!= undefined" class="row">
	<div class="col-lg-8 col-sm-8 col-md-offset-2 col-lg-offset-2 col-sm-offset-2">
		<div class="card hovercard ">
			<div class="card-background">
				<img class="card-bkimg" alt="" src="/assets/IMG/imgplan2.jpg">

			</div>
			<div class="useravatar">
				<img id="imagenPerfil" src="https://localhost:8443/image/{{userService.getUserS().profilePhotoTitle}}">
			</div>
			<div class="card-info">
				<span id="tituloPerfil" class="card-title"></span>
			</div>
		</div>

		<div class="well" id="escrituraPerfil">
			<div class="tab-content">
				<ngb-tabset>
					<ngb-tab title="Información">
						<template ngbTabContent>
							<div class="profile-info n_center">

								<div *ngIf="!userService.isSponsor(userService.getUserS())">
								<h2>Información Personal</h2>
								
								
								<div *ngIf="isSame(userService.getUserS())">
									<button [routerLink]="['/modifyProfile', userService.getUserS().id]" type="button" class="btn-info">Modificar Perfil</button>
								</div>
								<hr>
								<p>
									<strong>Alias:</strong> {{userService.getUserS()?.id}}
								</p>
								<p>
									<strong>Provincia:</strong> {{userService.getUserS()?.province}}
								</p>
								<p>
									<strong>Edad:</strong> {{userService.getUserS()?.age}}
								</p>
								<p>
									<strong>Descripción:</strong> {{userService.getUserS()?.description}}
								</p>
								</div>

								<div *ngIf="userService.isSponsor(userService.getUserS())">
								<h2>Información del Anunciante</h2>
								
								
								<div *ngIf="isSame(userService.getUserS())">
									<button [routerLink]="['/modifyProfile', userService.getUserS().id]" type="button" class="btn-info">Modificar Perfil</button>
								</div>
								<hr>
								<p>
									<strong>Empresa:</strong> {{userService.getUserS()?.id}}
								</p>
								<p>
									<strong>Provincia:</strong> {{userService.getUserS()?.province}}
								</p>
								<p>
									<strong>Descripción:</strong> {{userService.getUserS()?.description}}
								</p>
								</div>

								<div *ngIf="loginService.isUserLogged() && !userService.isSponsor(loginService.getUserLogged())">
								<div *ngIf="!loginService.isThisUserLogged(userService.getUserS()) && !userService.isFriend(userService.getUserS()) && !userService.isSponsor(userService.getUserS())" class="btn-follow">
									<button (click)="addFriendAndRoute(userService.getUserS(),userService.getUserS().id)" type="button" class="btn-info">Añadir Amigo</button>
								</div>
								<div *ngIf="!loginService.isThisUserLogged(userService.getUserS()) && userService.isSponsor(userService.getUserS()) && !userService.isFriend(userService.getUserS())" class="btn-follow">
									<button (click)="addFriendAndRoute(userService.getUserS(),userService.getUserS().id)" type="button" class="btn-info">Seguir Sponsor</button>
								</div>
								
								<div *ngIf="userService.isFriend(userService.getUserS()) && !userService.isSponsor(userService.getUserS())" class="container-fluid">
									<button (click)="deleteFriendAndRoute(userService.getUserS().id)" type="button" class="btn-info">Eliminar Amigo</button>
								</div>
								<div *ngIf="userService.isFriend(userService.getUserS()) && userService.isSponsor(userService.getUserS())" class="container-fluid">
									<button (click)="deleteFriendAndRoute(userService.getUserS().id)" type="button" class="btn-info">Eliminar Sponsor</button>
								</div>
								</div>
							</div>

						</template>
					</ngb-tab>
					<ngb-tab title="Planes">

						<template ngbTabContent>
							<div class="planscroll">
								<div id="plans">
									<div *ngFor="let plan of userService.getUserS().plans">
										<div class="container-fluid ">
											<div class="container-fluid">
												<div class="row myplan-row">
													<div class="col-md-6 img-myplan  ">

														<img class="img-responsive" src="https://localhost:8443/image/{{plan.imagePlanTitle}}">

													</div>
													<div class="col-md-6">
														<h3>
															<strong>{{plan.title}}</strong>
														</h3>
														<hr />
														<p>En {{plan?.place}}</p>
														<button [routerLink]="['/plan', plan.id]" type="button" class="btn-info">Ver Plan</button>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</template>
					</ngb-tab>
					<ngb-tab title="Lista de Amigos">
						<template ngbTabContent>
							<div class="friendsl" id="friendsl">
								<div *ngFor="let friend of userService.getFriendsS()">
									<div class="row friends-row">
										<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 friends-preview">
											<div class="col-md-6 col-sm-4 col-xs-4 ">
												<img class=" img-circle" src="https://localhost:8443/image/{{friend.profilePhotoTitle}}">
											</div>
											<div class="col-md-6 col-sm-8 col-xs-8 friends-info">
												<div class="n_center">
													<a (click)="recharge(friend.id)" class="creador-plan">{{friend.id}}</a>
													<p class="text-muted">{{friend.province}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</template>
					</ngb-tab>
				</ngb-tabset>
			</div>
		</div>
	</div>
</div>